div {
	width: 195px;
	height: 235px;
	border:2px solid #990099;
	padding:6px;
	background-image: url("http://cache1.asset-cache.net/xc/477364281.jpg?v=2&c=IWSAsset&k=2&d=rNRRAm5GqXXC99Ugr3e0ZpDw5jHKOl_EWUVQxJsITYxehvpx1C40UMDzxs1J7Ztu0");
	margin-bottom: 10px;
	}
.Copia1{
width: 195px;
	height: 235px;
	border:2px dotted #0099ff;
	padding:6px;
	background-image: url("http://thumb101.shutterstock.com/display_pic_with_logo/2108777/201587147/stock-photo-pastel-pink-abstract-blur-bokeh-lights-defocused-background-201587147.jpg");
	margin-bottom: 10px;
}

.Caja2 {
	font-size: 13px;
	color: #007acc;
	font-family: Verdana;
}

.Copia2 {
	width: 195px;
	height: 235px;
	border:2px dashed #ff0080;
	padding:6px;
	background-image: url("http://cache2.asset-cache.net/gc/507919251-high-resolution-blurred-pastel-dots-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=csg%2F0AR4Om6LD98Itp1ihMPTLQug31e4MCRM0%2F%2B%2F%2FqT6HH8ujZY9Ts%2Fd2XFkeCrM");
	margin-bottom: 10px;
}

span {
	font-size: 18px;
	font-family: Cursive;
}

.Caja1 {
	font-size: 13px;
	color: #990098;
	font-family: Verdana;
}

.Caja3 {
	font-size: 13px;
	color: #cc0066;
	font-family: Verdana;
}

